.profile-text {
    color: #fff;
    font-size: 5em;
    font-weight: 300;
}
@media (max-width: 1000px) {
    .profile-text {
        color: #fff;
        font-size: 3em;
        font-weight: 700;
        margin-top: 20px;
    }
}
@media (max-width: 600px) {
    .profile-text {
        color: #fff;
        font-size: 2em;
        font-weight: 700;
        margin-top: 20px;
    }
}